<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Books</title>
    
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
<header class="header">
    <h1 class= "title"><img class="book-logo" src="/assets/images/favicon.ico"><a href="/../">My Books</a></h1>
</header>

{% block content %}
{% endblock %}

{% block javascript %}
{% endblock %}


<footer class="footer">
    <a href="/book/legalMentions">Mentions légales</a>
    <p>&copy; 2020 MyBooks</p>
</footer>
</body>
</html>