<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Books</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
<header class="header">
    <h1 class= "title"><a href="/../">My Books</a></h1>
    <p class="user">User <img src="/assets/images/user.png" class="userImage" alt="Image représentant le profil utilisateur"> </p>
</header>

{% block content %}
{% endblock %}

{% block javascript %}
{% endblock %}


<footer class="footer">
    <p>Mentions légales</p>
</footer>
</body>
</html>
