{% extends 'layout.html.twig' %}

{% block content %}
<section class="addPage">
    <div class="addCrossSection">
        <h1 id="addTitle">Ajouter un livre</h1>
        <a href="/" id="addCross"><img src="/assets/images/cross.png" class="cross"
        alt="image d'une croix permettant de fermer la page d'ajout"></a>
    </div>
    <hr class="hrAdd">
    {% include 'book/_form.html.twig' %}
    </section>

{% endblock %}
