{% extends 'layout.html.twig' %}

{% block content %}
    <section class="addCrossSection">
        <h1 id="addTitle">Ajouter un livre</h1>
        <a href="/" id="addCross"><img src="/assets/images/cross.png" class="cross" alt="image permettant de fermer la page d'ajout"></a>
    </section>

    {% include 'book/_form.html.twig' %}

{% endblock %}
