{% extends 'layout.html.twig' %}

{% block content %}
    <div class="addCrossSection">
        <h1 id="addTitle">Ajouter un livre</h1>
        <a href="/" id="addCross"><img src="/assets/images/cross.png" class="cross"
        alt="image d'une croix permettant de fermer la page d'ajout"></a>
    </div>

    {% include 'book/_form.html.twig' %}

{% endblock %}
