{% extends 'layout.html.twig' %}

{% block content %}
    <section class="editPage">
        <section class="editCrossSection">
            <h1 id="editTitle">Modifications</h1>
            <a href="/book/show/{{ book_array.id }}" id="editCross"><img src="/assets/images/cross.png" class="cross"
        alt="Image d'une croix permettant de fermer la page d'édition"></a>
        </section>
        <hr class="hrEdit">

    {% include 'book/_form.html.twig' %}
    </section>
{% endblock %}
