{% extends 'layout.html.twig' %}

{% block content %}
    <section class="editCrossSection">
        <h1 id="editTitle">Modifications</h1>
        <a href="/livre/show/{{ livre.id }}" id="editCross"><img src="/assets/images/cross.png" class="cross"></a>
    </section>

    {% include 'livre/_form.html.twig' %}
{% endblock %}
