{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit item {{ livre.titre }}</h1>
    {% include 'livre/_form.html.twig' %}
    <a href="/livre/show/{{ livre.id }}">Back</a>
{% endblock %}