{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit item {{ livre.title }}</h1>
    {% include 'Livre/_form.html.twig' %}
    <a href="/Livre/show/{{ livre.id }}">Back</a>
{% endblock %}
