{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <img src="/assets/images/presentation.jpg" class="presentationImage">
       
        <h1 >Ma bibliothèque</h1>
        <hr class="hrLibrary">
        <div class="myLibrary">
            <ul>
                {% for livre in livres %}
                    <li><a href="/Livre/show/{{ livre.id }}"> {{ livre.titre }} {{ livre.lu }}<br>{{ livre.auteur }} <br><br></a></li>
                {% else %}
                    <li>Nothing to display</li>
                {% endfor %}
            </ul>
        </div>
        <div class ="alignPlusImage">
            <a href="/Livre/add"><img src="/assets/images/iconeplus.png"  class="plusImage"></a>
        </div>

    </main>
{% endblock %}
