{% extends 'layout.html.twig' %}

{% block content %}
    <h1>livres</h1>
    <div class="img"></div>
    <ul>
        {% for livre in livres %}
            <li><a href="/livre/show/{{ livre.id }}">{{ livre.id }}. {{ livre.titre }} - {{ livre.auteur }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/livre/add">Ajouter</a>
{% endblock %}
