
/*Colors*/

:root{
    --main-background-color : #F0F0F0;
    --second-background-color:rgb(255, 115, 0);
    --footer-background-color: rgb(255, 115, 0);
    --font-color:  #F0F0F0;

    --pen-width: 8vw;
    --trash-width: 8vw;
    --cross-width: 8vw;
    --magnifyingGlass-width: 2vw;;
    --iconPlus-width: 8vw;
    --pen-width-desktop: 3vw;
    --trash-width-desktop: 3vw;
    --cross-width-desktop: 3vw;
}

/*All pages*/

html {
    height: 100%;
}

body{
    background-color: var(--main-background-color);
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-background-color);
    height: 80px;
    font-family: roboto;
    font-weight: bolder;
    width: 100%;
    box-shadow: rgb(197, 196, 196) 0px 3px 5px;
}

.book-logo {
    width: 50px;
    margin: 15px;
}

.title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.title a{
    text-decoration: none;
    color: white;
}

.user{
    margin-right: 30px;
    width: 50px;
}

.userImage{
    width: 40px;
}

/*Index*/



.containerIndex {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerIndex h1
{
    display: flex;
    align-items: center;

    font-size: 30px;
    font-family: roboto;
    color:var(--second-background-color);
}

.plusImage1{
    width: 6vw;
    margin-left: 60%;
}


.hrLibrary{
    width: 80%;
    border-color: white;
    margin-bottom: 3%;
}



/*searchBar*/

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.searchText {
    color:var(--second-background-color);
}

#userSearch{
    border-radius: 10px;
    width: 30vw;
    height: 80%;
}

#dataField{
    border-radius: 10px;
    height: 80%;
}

.magnifyingGlassImage{
    width: var(--magnifyingGlass-width);
}

/*bookList*/

.myLibrary ul {
    padding:0;
}

.myLibrary ul li{
    list-style-type: none;
    background-color: white;
    padding: 0.1% 0% 0.5% 3%;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--second-background-color)
}

.myLibrary ul li a{
    text-decoration: none;
    color: var(--second-background-color);
}

.flex-parent{
    
    display: flex;
    flex-direction: column;
}

.indexBookTitle{
    font-size: 6vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indexBookAuthor{
    font-size:4vw;
}

.readBook {
    height: 8%;
    width: 8%;
}

.localisationBook {
    display: inline-block;
    margin: 0px;
}

.indexBookLocalisation{
    font-size: 16px;
}

.bookIcon {
    width: 350px;
    margin: 0px;
}


.plusImage{
    width: 50px;
}

.alignPlusImage{
    text-align: center;
}

.hrBooks{
    width: 80%;
    border-color: white;
}

/* Form*/

.main{
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
}

.pen{
    width: var(--pen-width);
    padding-right: 20px;
}

.trash{
    width: var(--trash-width);
}

.cross{
    width: var(--cross-width);
}


.addCrossSection{
    display: flex;
    justify-content: center;
}

#addTitle{
    font-size: 5vw;
    color: var(--second-background-color);
    font-family: 'Roboto', sans-serif;

}

#addCross{
    padding-left: 30vw;
}

.form{
    margin: 5vw;
    padding: 5vw;
    border-radius: 10px;
    background-color: var(--second-background-color);
    
}

.inputPosition{
    padding: 2vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    width: 80%;
}

.inputParution{
    display: flex;
    justify-content: center;
    padding: 1vw 0 0 0;
    margin: 1.5vw 0 0 0;
}
.inputParution > input {
    width: 20%;
    
}
#lu{
    padding: 2px;
    margin-bottom: 15px;
}

#lecture{
    padding: 2px;
    margin-bottom: 15px;
}


textarea{
    height: 5vw;
}

.submit{
    display: flex;
    justify-content: center;
}

#submit{
    display: flex;
    padding: 10em;
    justify-content: center;
    width: 15vw;
}

.formInputStyle {
    color: var(--second-background-color);
    font-family: roboto;
    margin: 10px;
}

.addButtonDiv {
    display: flex;
    justify-content: center;
}

.addBookButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#f78811;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addBookButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.addBookButton:active {
	position:relative;
	top:1px;
}

/*Edit*/


.editCrossSection{
    display: flex;
    justify-content: center;
}

#editCross{
    padding-left: 30vw;
}


.bookDescription{
    box-shadow: rgb(206, 205, 205) 5px 5px 5px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    padding-left: 5vw;
    color: var(--second-background-color);
}

#hrDescription{
    text-align: center;
    width: 50%;
}

.hightIcons{
    display: flex;
    justify-content: flex-end;

    padding-right: 10px;
}


.bottomIcon{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-right: 10px;
}


/*Footer*/

.footer{

    text-align: center;
    margin-top: 5%;
    color: var(--second-background-color);
    font-family: roboto;
}

/*legalMentions*/

.legalMentions{
    color: black;
    margin: 5%;
    text-align: justify;
}
.legalMentions h2 {
    text-align: center;
}

.legalMentions h2, h4 {
    color: var(--second-background-color);
}


/*Delete confimation*/

.close, .trash {
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.deletebtn {
    background-color: #f35a4f;
    cursor: pointer;
}

.container {
    padding: 16px;
    text-align: center;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #595959d9;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15%;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:focus,
.close:hover {
    color: #f44336;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.previousButton, .nextButton  {
    width: 100px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
    display:flex;
    flex-direction: row;
    justify-content: center;
	cursor:pointer;
	color:var(--second-background-color);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 2vh;
}
.previousButton:hover, .nextButton:hover  {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.previousButton:active, .nextButton:active {
	position:relative;
	top:1px;
}


@media screen and (max-width : 767px) {

    .booksPicture{
        display: none;
    }

}
        
@media screen and (min-width : 768px) {


    /*searchBar*/

    .searchText {
        color:var(--second-background-color);
    }
    
    #userSearch{
        border-radius: 10px;
        width: 30vw;
        height: 80%;
    }
    
    #dataField{
        border-radius: 10px;
        height: 80%;
    }

    .plusImage1{
        width: 4vw;
    }

    /*Index*/

    .indexBookTitle{
        font-size: 3vw;
    }

    .indexBookAuthor{
        font-size:2vw;
    }

    .indexBookLocalisation{
        font-size:1.5vw;
    }
    
    .plusImage{
        width: 8vw;
    }


    .booksPicture{
       width: 70%;
       margin-top: 1%;

    }
    

    /*Form*/

    .pen{
        width: var(--pen-width-desktop);
        padding-right: 20px;
    }

    .trash{
        width: var(--trash-width-desktop);
    }

    .cross{
        width: var(--cross-width-desktop);
    }

    .formAdd {
        color: var( --main-background-color);
    }

    /*Edit*/

    .bookDescription{
        margin: 5%;
    }
}}